body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    display: flex;
    align-items: center;
    margin: 20px;
    border-bottom: 10px;
    background-color: rgb(255, 255, 255);
    

}

.logo {
    margin-right: 90px;
    margin-left: 20px;
}

.text-content h1,
h3,
h5,
p {
    margin: 5px;
}

.text-content {
    text-align: center;
    line-height: 1.2;
    margin-left: 150px;
}

.login-div-types {
    display: flex;
    border: 2px solid black;
    border-top: 7px solid rgb(255, 25, 0);
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin-left: 40px;
    align-items: center;
}

.login-button {
    background-color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

.login-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    place-items: center;
    justify-content: center;
    text-align: center;
}
#lbrce{
    color: darkblue
}
#aut{
    color: red
}
#acc{
    color: green;
}
#approved{
    color: brown;
}
#stulog{
    text-align : center
}
#img{
    margin-right: 30px
}